* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Mochiy Pop P One', sans-serif;
}

.position {
    position: relative;
}

/* Header */
header {
    position:fixed;
    top: 40px;
    right: 20px;
    z-index: 2;
}

ul li{
    display: inline-block;
}

li button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 2rem;
}

button a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 900;
    color: black;
}

button:hover a{
    font-size: 2rem;
    color: white;
}

a:active{
    background-color: purple;
}

/* Section */
div.container section{
    height: 100vh;
}

section.first-shoes{
    background-color: red;
}

section.second-shoes{
    background-color: seagreen;
}

section.third-shoes{
    background-color: yellow;
}


h1#last-shoes {
    color:seagreen
}

div.box-img{
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.position img.shoes-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

h1.description{
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    color: yellow;
}

